tr:nth-child(even) {
    background-color: #F2F5FA;
}

.ag-theme-material {
    /* --ag-foreground-color: rgb(126, 46, 132); */
    /* --ag-background-color: red; */
    /* --ag-header-foreground-color: rgb(204, 245, 172); */
    /* --ag-header-background-color: rgb(209, 64, 129); */
   
    --ag-material-primary-color: #3f51b5;
    --ag-material-accent-color: #3FBA8D;

    --ag-odd-row-background-color: #F2F5FA;
    --ag-header-column-resize-handle-color: rgb(126, 46, 132);
  
    --ag-font-size: 18px;
    --ag-font-family: monospace;
    /* font-family: 'SF Pro Text'; */


    --ag-borders-row:2px solid;
    --ag-row-border-color:green;
  }

  .ag-theme-material .ag-header-container .ag-header-row.ag-header-row-column{
    border-bottom:2px #9FDDC6 solid;
} 


.ag-row{
    border-bottom: none;
}

.ag-header{
    border-bottom: none;
}

.full-width-panel {
    position: relative;
    background: #edf6ff;
    height: 100%;
    width: 100%;
    padding: 5px;
  }